#services.services
    .container
        .row.service-desc
            .col.s12
                h2 Our Services
                p We currently provide services to over 10 catergories and are constantly updating and adding new services to make sure that all your needs and requirements are met by us.  
        .row
            .col.s12.m4
                .card
                    .card-image
                        img(src=cdn + "/home/courier.png", alt="Courier")
                    .card-content
                        span.card-title Courier
                        p Door step delivery of non perishable items in and around Dimapur
            .col.s12.m4
                .card
                    .card-image
                        img(src=cdn + "/home/taxes.png", alt="Taxes")
                    .card-content
                        span.card-title Taxes
                        p Best Chartered Accountants to help with all your tax related requirments
            .col.s12.m4
                .card
                    .card-image
                        img(src=cdn + "/home/photography.png", alt="Photography")
                    .card-content
                        span.card-title Photography
                        p Connect with the best photographers in Dimapur to capture those beautiful moments
            .col.s12.m4
                .card
                    .card-image
                        img(src=cdn + "/home/manpower.png", alt='Manpower')
                    .card-content
                        span.card-title Manpower
                        p
                            | Connect with the best photographers in Dimapur to capture those beautiful moments
            .col.s12.m4
                .card
                    .card-image
                        img(src=cdn + "/home/utilities.png", alt='Utilities')
                    .card-content
                        span.card-title Utilities and Bills
                        p
                            | Connect with the best photographers in Dimapur to capture those beautiful moments
            .col.s12.m4
                .card
                    .card-image
                        img(src=cdn + "/home/financial-advisory.png", alt='Financial Advisory')
                    .card-content
                        span.card-title Financial Advisory
                        p
                            | Connect with the best photographers in Dimapur to capture those beautiful moments
            .col.s12.m4
                .card
                    .card-image
                        img(src=cdn + "/home/catering.png", alt='Catering')
                    .card-content
                        span.card-title Catering
                        p
                            | Connect with the best photographers in Dimapur to capture those beautiful moments
            .col.s12.m4
                .card
                    .card-image
                        img(src=cdn + "/home/web-developer.png", alt='Web Developer')
                    .card-content
                        span.card-title Web Developer
                        p
                            | Connect with the best photographers in Dimapur to capture those beautiful moments
            .col.s12.m4
                .card
                    .card-image
                        img(src=cdn + "/home/event-planning.png", alt='Event Planning')
                    .card-content
                        span.card-title Event Planning
                        p
                            | Connect with the best photographers in Dimapur to capture those beautiful moments
            .col.s12.m4
                .card
                    .card-image
                        img(src=cdn + "/home/transportation.png", alt='Transportation')
                    .card-content
                        span.card-title Transportation
                        p
                            | Connect with the best photographers in Dimapur to capture those beautiful moments
        .row.service-action
            .col.s12
                span More Services
                a(href="tel:+915645333453").btn.waves-effect.waves-light Call Now